body{
  background-image: url("../img/softbackground3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
a:hover{
  cursor: pointer;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #D3D3D3;
  overflow-x: hidden;
  padding-top: 40px;
  width: 200px;
  display: inline-block;
  border-right: solid 2px #585858;
}

.sidenav a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #111;
}

#subjects{
  background-color: #f1f1f1;
  color: black;
  border-top: solid 2px #585858;
  border-bottom: solid 2px #585858;
}

#subjects:hover{
  color: black;
  cursor: default;
}

#main {
  padding: 20px;
  margin-left: 180px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#profile_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 100px;
  margin-right: 80px;
  font-size: 20px;
}

#profile_pic{
  width:45%;
  height: auto;
  align-self: center;
  border-radius: 7px;
}

#profile{
  font-size: 16px;
  font-family: Courier;
  background-color: #D3D3D3;
  color: #111;
  line-height: 2;
  background-repeat: no-repeat;
  border-radius: 7px;
  padding: 20px;
  margin-left: 10px;
}

#subjects_content {
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  border-bottom: solid 2px #585858;
}

#subjects_content a {
  color: black;
  padding: 8px 32px 8px 32px;
  text-decoration: none;
}

#subjects_content a:hover {background-color: #ddd;}

#links{
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 30px;
  top: 100px;
  color: black;
  background-color: #f1f1f1;
  border: solid 2px #585858;
  padding: 10px;
  min-height: 400px;
}

#links a{
  text-decoration: none;
  padding: 5px;
  color: black;
}

#content{
  padding-right: 180px;
  padding-left: 20px;
  text-align: center;
}

.sections{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: left;
}

.sections a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;

}

.sections a:hover{
  text-decoration: underline;
}
